<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" xmlns="http://www.w3.org/1999/html">
  <h1>
    JSONForms Angular Material Playground
  </h1>
  <img width="150" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<section>
  <label>Additional form</label>
  <button mat-flat-button (click)="addAdditionalError2()">Add error</button>
  <button mat-flat-button (click)="removeErrors2()">Remove errors</button>
  <jsonforms
    [data]="data2"
    [schema]="schema2"
    [uischema]="uischema2"
    [renderers]="renderers"
    [i18n]="i18n"
    [ajv]="ajv"
    (dataChange)="dataChange2($event)"
    [additionalErrors]="additionalErrors2"
  ></jsonforms>
</section>
<section>
  <label>Main form</label><br>
  <button mat-flat-button (click)="addAdditionalError()">Add error</button>
  <button mat-flat-button (click)="removeErrors()">Remove errors</button>

  <mat-button-toggle-group name="validation" [(ngModel)]="validationMode" aria-label="Font Style">
    <mat-button-toggle value="ValidateAndShow">ValidateAndShow</mat-button-toggle>
    <mat-button-toggle value="ValidateAndHide">ValidateAndHide</mat-button-toggle>
    <mat-button-toggle value="NoValidation">NoValidation</mat-button-toggle>
  </mat-button-toggle-group>

  <jsonforms
    [additionalErrors]="additionalErrors"
    [data]="data"
    [schema]="schema"
    [uischema]="uischema"
    [renderers]="renderers"
    [i18n]="i18n"
    [ajv]="ajv"
    [validationMode]="validationMode"
    (dataChange)="dataChange($event)"
    (errors)="emittedErrors($event)"
  ></jsonforms>
</section>
