<div class="links">
  <div>
    <a routerLink="account">Account</a>
    <a routerLink="all-types">All Types</a>
    <a routerLink="all-types-ui">All Types UI</a>
    <a routerLink="custom-schema">Custom Schema</a>
    <a routerLink="demo">Demo</a>
  </div>
  <div>
    <a href="https://json-schema.org/understanding-json-schema/keywords" target="_blank">JSON Schema keywords</a>
    <a href="https://jsonforms.io/" target="_blank">JSON Forms</a>
    <a href="https://ajv.js.org/" target="_blank">AJV</a>
    <a href="https://jsonforms-editor.netlify.app/" target="_blank">UI Builder POC</a>
  </div>
</div>

<router-outlet></router-outlet>
