<h1>{{ title }}</h1>
<section class="custom-row">
  <div class="flex-item">
    <jsonforms
      [data]="data"
      [schema]="schema"
      [uischema]="uiSchema"
      [renderers]="renderers"
      [ajv]="ajv"
      (dataChange)="dataChange($event)"
      (errors)="emittedErrors($event)"
    ></jsonforms>
  </div>
  <div class="flex-item json-value">
    {{ formData | json }}
  </div>
</section>
<section class="custom-row">
  <h4>JSON Schema</h4>
  <ngx-json-viewer [json]="schema"></ngx-json-viewer>
</section>
<section class="custom-row">
  <h4>UI Schema</h4>
  <ngx-json-viewer [json]="uiSchema"></ngx-json-viewer>
</section>

